torch~=2.5.0
streamlit~=1.37.1
numpy~=1.26.4
python-dotenv~=1.0.1
sentence-transformers~=3.1.0
requests~=2.32.3
spacy~=3.7.6
tqdm~=4.66.5
pandas~=2.2.2
scikit-learn~=1.5.1
nltk~=3.9
pypdf~=4.3.1
faiss-cpu~=1.8.0.post1
protobuf~=4.25.5
gensim~=4.3.3
flask~=3.0.3
pymilvus~=2.4.7
mysqlclient~=2.2.4
bcrypt~=4.2.0
flask-socketio~=5.4.1
ollama~=0.4.2